* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

// @media (min-width: 700px) {
//   .main {
//     display: flex;
//     flex-direction: row;
//   }
// }

a {
  color: black;
  text-decoration: none;
}

a::hover {
  color: #9462f6;
}

h3 {
  font-weight: normal;
}

.wrapper {
  text-align: center;
  margin: auto;
  // background-color: lightblue;
  padding: 0 2rem;

  .aboutme {
    box-sizing: border-box;
  }

  .abouth3 {
    margin-top: 0;
    text-decoration: underline;

  }
  .h3 {
    // font-weight: bold;
    text-decoration: underline;
  }
}

.skillsContainer {
  text-align: center;

  .logo {
    // max-width: 50px;
    // max-height: 50px;
    width: 50px;
    height: 50px;
    display: inline;
    padding: 0.5rem;
  }
}

.social {
  font-size: 1.4rem;
  color: black;
  padding: 0;
}

.social:hover {
  color: #9462f6;
}

.contactContainer {
  text-align: center;

  i {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1050px) {
  .wrapper {
    font-size: 1rem;
  }

  .social {
    font-size: 1rem;
  }

  .iconos {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  h2 {
    text-align: center;
  }

  .iconos {
    font-size: 0.8rem;
  }

  .skillsContainer {
    .logo {
      max-width: 50px;
      max-height: 50px;
      display: inline;
      padding: 0.8rem;
    }
  }
}

@media (max-width: 550px) {
  .wrapper {
    font-size: 0.875rem;
  }

  .social {
    font-size: 0.875rem;
  }
}

@media (max-width: 400px) {
  .iconos {
    font-size: 0.6rem;
  }
}
