* {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 700px) {
  .main {
    display: flex;
    flex-direction: row;
  }
}

a {
  color: black;
  text-decoration: none;
}

a::hover {
  color: #9462f6;
}

h3 {
  font-weight: normal;
}

.wrapper {
  text-align: center;
  margin: auto;
  flex-direction: row;

  .aboutme {
    ul {
      list-style: none;
      text-align: center;
    }
  }
}

.skillsContainer {
  text-align: center;

  .logo {
    max-width: 50px;
    max-height: 50px;
    display: inline;
    padding: 0.8rem;
  }
}

.social {
  font-size: 1.4rem;
  color: black;
  padding: 0 1rem;
}

.social:hover {
  color: #9462f6;
}

.contactContainer {
  text-align: center;
}

@media (max-width: 1050px) {
  .wrapper {
    font-size: 1rem;
  }

  .social {
    font-size: 1rem;
  }

  .iconos {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  h2 {
    text-align: center;
  }

  .iconos {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .wrapper {
    font-size: 0.875rem;
  }

  .social {
    font-size: 0.875rem;
  }
}

@media (max-width: 400px) {
  .iconos {
    font-size: 0.6rem;
  }
}
