* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.opener {
  font-size: 2.5rem;
}

a:hover {
  color: #9462f6;
}

.folio-title {
  font-weight: bold;
  display: inline;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.container {
  background-color: yellow;
}

.projectsWrapper {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.projectWrapper {
  background-color: rgb(243, 242, 242);
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 0.6;

  .folio-title {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
  }

  a:hover {
    color: #9462f6;
  }

  .tab-content {
    img {
      width: 100%;
    }

    .desc {
      margin: 0.5rem 0;
      min-height: 125px;
      font-size: 0.9rem;
    }

    .repolinks {
      font-size: 0.8rem;
      padding-left: 1.5rem;
      a {
        display: block;
        margin: 0.2rem 0;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: #9462f6;
        }
      }
    }
    i {
      font-size: 1rem;
      padding: 0;
    }
  }
}
