body {
  margin: 0;
  background-color: #fbfbfb;
}
hr {
  color: black;
  margin-top: 1.3rem;
  margin-bottom: 0;
}
h1 {
  font-size: 5rem;
  margin: 0.5rem 0 0 0;
  // margin: 0;
  font-family: "Roboto", sans-serif;
}

.attr {
  font-family: "Roboto", sans-serif;
  background-color: #c3f8ff;
  font-size: 1.2rem;
  margin: 0 0.5rem 0 0.5rem;
}

.attr:hover {
  // background-color: transparent;
  color: #9462f6;
}

.icons {
  // padding: 0.25rem;
  a {
    color: black;
    &:visited {
      color: black;
    }
  }
  // .fab {
  //   -webkit-transition: -webkit-transform 0.2s ease-in-out;
  //   transition: transform 0.2s ease-in-out;

  //   &:hover {
  //     -webkit-transform: rotate(30deg);
  //     transform: rotate(30deg);
  //   }
  // }
  .fab:hover {
    color: #9462f6;
  }
}

i {
  font-size: 1.6rem;
  padding: 0.5rem;
  margin: 0 1rem;
}

.header-main {
  // padding: 2rem 20rem 2rem 20rem;
  text-align: center;
}

.content-main {
  padding: 0.5rem;
}

.pages-link {
  margin-top: 0.6rem;
  margin: 0, auto;
  a {
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    &:visited {
      text-decoration: none;
      color: black;
    }
    &:hover {
      text-decoration: none;
      color: #9462f6;
    }
    &:active {
      text-decoration: none;
      color: #a980fa;
    }
  }
}

// @media (max-width: 1400px) {
//   .header-main {
//     // padding: 0;
//   }

//   .content-main {
//     // padding: 1rem 4rem;
//   }
// }

@media (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 650px) {
  .header-main {
    padding: 0;
  }

  // .content-main {
  //   padding-bottom: 5rem;
  // }
}

.nodecor {
  text-decoration: none;
  color: black;
  &:hover {
    color: #9462f6;
  }
}
